@{
    ViewBag.Title = "Contact";
}

<h3>Algebra-otvoreno učilište</h3>

<address>
    Maksimirska cesta 58a,10000 Zagreb<br />
    Hrvatska<br />
    <abbr title="Phone">P:</abbr>
    +385 1 2332 861
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@algebra.hr">info@algebra.hr</a><br />
</address>